/*
STYLES.CSS

Author:  RoninXero
Website: none, yet!
*/

html {
  background: url('images/icetrap-main-page2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}




.nav-link, .navbar-text {
  font-size: .9rem;
}
