/*
STYLES.CSS

Author:  RoninXero
Website: none, yet!
*/

html{
  height: 100%;
  margin: 0;
  padding: 0;
}

/* html { Use body to allow for transparent navbar */
body {
  background: url('images/icetrap-main-page2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  transition: color .6s ease-in-out !important;
  color: LightGray !important;
}

a:hover {
  color: Lime !important;
  /* or Gold */
}

.active {
  color: Lime !important;
}

.navbar {
  max-height: 1.5rem;
  min-height: 1.5rem;
  background-color: rgba(41, 43, 44, 0.8) !important;
}

.vertical-divider {
  margin-left: .5rem;
  max-height: 1.85rem;
  /* border-left: 2px solid rgb(41, 43, 44);*/
  border-left: 2px solid LightGray;
}

.nav-link, .navbar-text {
  font-size: .9rem;
}

/* TODO: fix toggler button */
.navbar-toggler {
  margin: 0;
  font-size: .5rem;
}

.panel {
  height: 100%;
  border: 1px solid black;
  border-radius: .5rem;
}
/*
.container {
  height: 90%;
  background-color: rgba(41, 43, 44, 0.8) !important;
  border-radius: .5rem;
}
*/

#main {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.container {
  overflow-y: hidden;
  background-color: rgba(41, 43, 44, 0.8) !important;
  border-radius: .5rem;
}
